bustedParrot/dist/
bustedParrot/.cabal-sandbox/
bustedParrot/cabal.sandbox.config
bustedParrot.lkshs
bustedParrot.lkshw
bustedParrot/posts/draft_post16.html
bustedParrot/pages/____page_my_pictures.html
bustedParrot/static_old/
bustedParrot/static_edit/
update
update_auto
x
bustedParrot/static/dipper_next.svg
bustedParrot/static/dipper_prev.svg
